body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  position: relative;
  width: 1200px;
  height: 300px;
  margin: 240px;
}

.container .box{
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: #mediumturquoise;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}
.container .box .icon{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transition: 0.8s;
  z-index: 1;
}

.container .box. .icon .fa{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: white
}
